@using Net.Qks.Develop
@model TableDto
@{
    bool isEditMode = Model.Id > 0;
}
@await Html.PartialAsync(WebConsts.ModalHeaderName, new ModalHeaderViewModel(isEditMode ? (L(AppPermissions.Develop.Tables_Edit) + ": " + Model.Name) : L(AppPermissions.Develop.Tables_Create)))

<div class="modal-body">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a href="#panel1" class="nav-link active" data-toggle="tab" role="tab">
                基础
            </a>
        </li>
        <li class="nav-item">
            <a href="#panel2" data-toggle="tab" role="tab" class="nav-link">
                字段
            </a>
        </li>
    </ul>
    <form name="saveForm" role="form" novalidate class="form-validation">
        <div class="tab-content">
            <div class="tab-pane pre-scrollable active" id="panel1" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">@Html.EditorForModel()</li>
                </ul>
            </div>
            <div class="tab-pane pre-scrollable" id="panel2" role="tabpanel">
                @Html.EditorFor(m => m.Columns, "Collection")
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync(WebConsts.ModalFooterName)
